/*  HEADER start  */



/*  HEADER slut  */



/*  VIDEO start  */



/*  VIDEO slut  */



/*  BIOGRAFI start  */

.bio {
    color: white;
    background-color: black;
    padding-left: 5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    float: left;

}

.bio h1 {
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;

}


.bio p {
    font-size: 12px;


}


/*  BIOGRAFI slut  */



/*  GALLERI 1 start  */

.galleri1 {
    float: right;
    background-color: black;
}

.galleri1-1 img {
    width: 100%;
    float: right;
}

.galleri1-2 img {
    width: 100%;
    float: right;
}

.galleri1-3 img {
    width: 100%;
    float: right;
}

.galleri1-4 img {
    width: 100%;
    float: right;
}

.galleri1-5 img {
    width: 100%;
    float: right;
}

.galleri1-6 img {
    width: 100%;
    float: right;
}

.galleri1-7 img {
    width: 100%;
    float: right;
}

.galleri1-8 img {
    width: 100%;
    float: right;
}

.galleri1-9 img {
    width: 100%;
    float: right;
}

.galleri1-10 img {
    width: 100%;
    float: right;
}





/*  GALLERI 1 slut  */



/*  GALLERI 2 start  */



/*  GALLERI 2 slut  */



/*  SINGLE COVER start  */



/*  SINGLE COVER slut  */



/*  FOOTER start  */



/*  FOOTER slut  */


